footer {
	position: absolute;
	left: 0;
	bottom: 0;
}

h2 {
	font-family: 'abyssopelagic';
	color: #00b8b9;
}

section:nth-child(3) p,
#result {
	color: white;
}

.case {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: transparent;
}
